<p id="notice"><%= notice %></p>

<p>
  <strong>Optiona:</strong>
  <%= @answer.optionA %>
</p>

<p>
  <strong>ValueA:</strong>
  <%= @answer.valueA %>
</p>

<p>
  <strong>Optionb:</strong>
  <%= @answer.optionB %>
</p>
<p>
  <strong>ValueB:</strong>
  <%= @answer.valueB %>
</p>
<p>
  <strong>Optionc:</strong>
  <%= @answer.optionC %>
</p>
<p>
  <strong>ValueC:</strong>
  <%= @answer.valueC %>
</p>
<p>
  <strong>Optiond:</strong>
  <%= @answer.optionD %>
</p>
<p>
  <strong>ValueD:</strong>
  <%= @answer.valueD %>
</p>
<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
